<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="keywords" content="HTML5 Template" />
   <meta name="description" content="Maleo - Multipurpose HTML5 Template">
   <meta name="author" content="prodigystudio.net">

   <title>Maleo - Multipurpose HTML5 Template</title>
   
   <!-- Reset CSS -->
   <link rel="stylesheet" href="css/reset.css" />
   
   <!-- Retina Bookmark Icon -->
   <link rel="apple-touch-icon-precomposed" href="apple-icon.png" />

   <!-- Maleo Framework CSS -->
   <link href="css/whhg.css" rel="stylesheet" />
   <link href="css/social-icon.css" rel="stylesheet" />
   <link href="css/flat-icon.css" rel="stylesheet" />
   <link href="css/maleo.css" rel="stylesheet" />
   
   <!-- Maleo Component CSS -->
   <link href="css/fancybox.css" rel="stylesheet" />
   <link href="css/components/menu.css" rel="stylesheet" />
   <link href="js/rs-plugin/css/settings.css" rel="stylesheet" media="screen" />

   <!-- Style CSS -->
   <link href="css/style.css" rel="stylesheet" />
   
   <!-- Maleo Theme -->
   <link href="css/theme-switcher.css" rel="stylesheet" />
   <link href="css/theme/green.css" id="theme" rel="stylesheet">

   <!-- Doc CSS -->
   <link href="css/docs/doc.css" rel="stylesheet" />

   <!-- Favicon -->
   <link rel="shortcut icon" href="img/favicon.ico" />

   <!-- Google Webfont -->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet'>
   <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>  
   <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet'>
   <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400italic' rel='stylesheet'>
      
   <!-- Additional Javascript --> 
   <script src="js/modernizr.js"></script>

</head>

<body>
   <div id="mo-wrapper">
      <header class="sticky-menu">
         <div class="mo-contentfull" id="header-bg">
            <div class="rowfull">
               <div class="left-bg"></div>
               <div class="right-bg"></div>
            </div>
         </div>

         <div class="row">
            <div class="large-3 medium-3 medium-potrait-12 small-12 columns logo-content">
               <div class="logo">
                  <a href="index.html">   
                     <img src="img/logo.png" alt="Maleo Logo" class="retina">
                  </a>
               </div>
            </div>

            <nav class="menu-content">
               <ul id="menu" class="sm mo-menu">
                  <li><a href="index.html">Home</a>
                     <ul>
                        <li><a href="index-layout2.html">Index Layout 2</a></li>
                        <li><a href="index-layout3.html">Index Layout 3</a></li>
                        <li><a href="index-layout4.html">Index Layout 4</a></li>
                        <li><a href="index-layout5.html">Index Layout 5</a></li>
                        <li><a href="index-layout6.html">Index Layout 6</a></li>
                     </ul>
                  </li>
                  <li><a href="#">Pages</a>
                     <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="pricing-plan.html">Pricing Plan</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li><a href="team.html">Our Team</a></li>
                        <li><a href="sitemap.html">Sitemap</a></li>
                        <li><a href="single.html">Blog Post</a></li>
                        <li><a href="portfolio-single.html">Portfolio Single</a></li>
                        <li><a href="faq.html">FAQ Page</a></li>
                        <li><a href="404.html">404 Error</a></li>
                     </ul>
                  </li>
                  <li class="mega-menu active"><a href="#">Features</a>
                     <ul class="mega-menu">
                        <li>
                           <div class="mega-menu-content">
                              <div class="large-3 medium-3 medium-potrait-4 small-12 columns">
                                 <div class="mega-menu-title">Pricing Plan <span class="label round">4</span></div>
                                 <ul class="mega-menu-list">
                                    <li><a href="pricing-plan.html">Pricing Plan &ndash; Version 1</a></li>
                                    <li><a href="pricing-plan2.html">Pricing Plan &ndash; Version 2</a></li>
                                    <li><a href="pricing-plan3.html">Pricing Plan &ndash; Version 3</a></li>
                                    <li><a href="pricing-plan4.html">Pricing Plan &ndash; Version 4</a></li>
                                 </ul>

                                 <div class="mega-menu-title">Header <span class="label round">3</span></div>
                                 <ul class="mega-menu-list">
                                    <li><a href="index.html">Header &ndash; Version 1</a></li>
                                    <li><a href="index-layout2.html">Header &ndash; Version 2</a></li>
                                    <li><a href="index-layout3.html">Header &ndash; Version 3</a></li>
                                 </ul>
                              </div>

                              <div class="large-3 medium-3 medium-potrait-4 small-12 columns">
                                 <div class="mega-menu-title">Testimonials <span class="label round">6</span></div>
                                 <ul class="mega-menu-list">
                                    <li><a href="testimonials.html">Testimonials &ndash; Version 1</a></li>
                                    <li><a href="testimonials2.html">Testimonials &ndash; Version 2</a></li>
                                    <li><a href="testimonials3.html">Testimonials &ndash; Version 3</a></li>
                                    <li><a href="testimonials4.html">Testimonials &ndash; Version 4</a></li>
                                    <li><a href="testimonials5.html">Testimonials &ndash; Version 5</a></li>
                                    <li><a href="testimonials6.html">Testimonials &ndash; Version 6</a></li>
                                 </ul>
                              </div>

                              <div class="large-3 medium-3 medium-potrait-4 small-12 columns">
                                 <div class="mega-menu-title">Element</div>
                                 <ul class="mega-menu-list">
                                    <li><a href="column.html">Column</a></li>
                                    <li><a href="table.html">Table</a></li>
                                    <li><a href="button-list.html">Button &amp; List <span class="label round">60+</span></a></li>
                                    <li><a href="icon-list.html">Icon List <span class="label round">2000+</span></a></li>
                                    <li><a href="flat-icon.html">Flat Icon</a></li>
                                    <li><a href="icon-use.html">Icon Use <span class="label round">6</span></a></li>
                                    <li><a href="typhography.html">Typhography</a></li>
                                    <li><a href="panel-promo.html">Panel &amp; Promo</a></li>
                                    <li><a href="tab-accordion.html">Tab &amp; Accordion</a></li>
                                    <li class="active"><a href="alert-progress.html">Alert &amp; Progress <span class="label round">5</span></a></li>
                                    <li><a href="timeline.html">Timeline</a></li>
                                 </ul>
                              </div>

                              <div class="large-3 medium-3 medium-potrait-12 small-12 columns">
                                 <div class="mega-menu-title">Main Feature</div>
                                 <div class="mega-menu-sub-content">
                                    <!-- <img src="img/sample/sample-mega-img.jpg" class="img-left"> -->
                                    <p>
                                       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </li>
                  <li><a href="#">Portfolio</a>
                     <ul>
                        <li><a href="portfolio-2column.html">Portfolio 2 Column</a></li>
                        <li><a href="portfolio-3column.html">Portfolio 3 Column</a></li>
                        <li><a href="portfolio-4column.html">Portfolio 4 Column</a></li>
                        <li><a href="#">Dropdown Level 1</a>
                           <ul>
                              <li><a href="#">Dropdown Level 2</a></li>
                              <li><a href="#">Dropdown Level 2</a></li>
                              <li><a href="#">Dropdown Level 2</a>
                                 <ul>
                                    <li><a href="#">Dropdown Level 3</a></li>
                                    <li><a href="#">Dropdown Level 3</a></li>
                                    <li><a href="#">Dropdown Level 3</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                     </ul>
                  </li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="contact.html">Contact</a></li>
               </ul>

               <ul class="header-info1">   
                  <li class="phone-info">
                     <i class="icon-phoneold"></i> 444 325 3456
                  </li>
                  <li class="toggle-search">
                     <i class="icon-search"></i>
                  </li>
               </ul>
            </nav>

            <div class="large-9 medium-9 columns search-content">
               <form action="#">   
                  <div class="input-group">
                     <input type="text" name="search" class="form-control input-search" placeholder="search">
                     <span class="input-group-addon toggle-search"><i class="icon-search"></i></span>
                  </div>
               </form>
            </div>
         </div>
      </header>
      
      <section class="mo-content" id="page-header">
         <div class="row">
            <div class="large-12 columns page-title mo-animate" data-animate="fadeInDown">
               <div class="heading-wrapper">
                  <span class="heading-line"></span>
               </div>
               <h3>Alert &amp; Progress</h3>
               <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Element</a></li>
                  <li class="active">Alert &amp; Progress</li>
               </ol>
            </div>
         </div>
      </section>

      <section class="mo-content">
         <div class="row">
            <div class="large-12 columns mo-animate" data-animate="fadeInLeft"> 
               <h3>Alert</h3>
            </div>

            <div class="large-12 columns mo-animate" data-animate="fadeInDown">
               <h5>Alert Default</h5>
               <pre class="prettyprint linenums mo-animate" data-animate="fadeInDown">
&lt;!-- color choise 
   alert-box          -&gt; default color
   alert-box blue     -&gt; blue color
   alert-box green    -&gt; green color
   alert-box yellow   -&gt; yellow color
   alert-box red      -&gt; red color
--&gt;
&lt;div class=&quot;alert-box&quot;&gt;[...]&lt;/div&gt;
</pre>
               <div class="alert-box  mo-animate" data-animate="bounceIn">
                  This is <strong>default</strong> alert message
                  <a data-component="alert" href="#" class="close">&times;</a>
               </div>

               <div class="alert-box blue mo-animate" data-animate="bounceIn" data-delay="200">
                  <i class="icon-info-sign"></i>
                  This is <strong>information</strong> alert message
                  <a data-component="alert" href="#" class="close">&times;</a>
               </div>

               <div class="alert-box green  mo-animate" data-animate="bounceIn" data-delay="400">
                  <i class="icon-circleselect"></i>
                  This is <strong>success</strong> alert message
                  <a data-component="alert" href="#" class="close">&times;</a>
               </div>

               <div class="alert-box yellow  mo-animate" data-animate="bounceIn" data-delay="600">
                  <i class="icon-warning-sign"></i>
                  This is <strong>warning</strong> alert message
                  <a data-component="alert" href="#" class="close">&times;</a>
               </div>

               <div class="alert-box red  mo-animate" data-animate="bounceIn" data-delay="800">
                  <i class="icon-circledelete"></i>
                  This is <strong>error</strong> alert message
                  <a data-component="alert" href="#" class="close">&times;</a>
               </div>
            </div>

            <div class="large-12 columns gap mo-animate" data-animate="fadeInDown" data-top="30">
               <h5>Alert Radius</h5>
               <pre class="prettyprint linenums mo-animate" data-animate="fadeInDown">
&lt;div class=&quot;alert-box radius&quot;&gt;[...]&lt;/div&gt;
</pre>
               <div class="alert-box radius mo-animate" data-animate="bounceIn">
                  This is <strong>default</strong> alert message
                  <a data-component="alert" href="#" class="close">&times;</a>
               </div>

               <div class="alert-box radius blue mo-animate" data-animate="bounceIn" data-delay="200">
                  <i class="icon-info-sign"></i>
                  This is <strong>information</strong> alert message
                  <a data-component="alert" href="#" class="close">&times;</a>
               </div>

               <div class="alert-box radius green mo-animate" data-animate="bounceIn" data-delay="400">
                  <i class="icon-circleselect"></i>
                  This is <strong>success</strong> alert message
                  <a data-component="alert" href="#" class="close">&times;</a>
               </div>

               <div class="alert-box radius yellow mo-animate" data-animate="bounceIn" data-delay="600">
                  <i class="icon-warning-sign"></i>
                  This is <strong>warning</strong> alert message
                  <a data-component="alert" href="#" class="close">&times;</a>
               </div>

               <div class="alert-box radius red mo-animate" data-animate="bounceIn" data-delay="800">
                  <i class="icon-circledelete"></i>
                  This is <strong>error</strong> alert message
                  <a data-component="alert" href="#" class="close">&times;</a>
               </div>
            </div>

            <div class="large-12 columns gap mo-animate" data-animate="fadeInDown" data-top="30">
               <h5>Alert Rounded</h5>
               <pre class="prettyprint linenums mo-animate" data-animate="fadeInDown">
&lt;div class=&quot;alert-box round&quot;&gt;[...]&lt;/div&gt;
</pre>
               <div class="alert-box round mo-animate" data-animate="bounceIn">
                  This is <strong>default</strong> alert message
                  <a data-component="alert" href="#" class="close">&times;</a>
               </div>

               <div class="alert-box round blue mo-animate" data-animate="bounceIn" data-delay="200">
                  <i class="icon-info-sign"></i>
                  This is <strong>information</strong> alert message
                  <a data-component="alert" href="#" class="close">&times;</a>
               </div>

               <div class="alert-box round green mo-animate" data-animate="bounceIn" data-delay="400">
                  <i class="icon-circleselect"></i>
                  This is <strong>success</strong> alert message
                  <a data-component="alert" href="#" class="close">&times;</a>
               </div>

               <div class="alert-box round yellow mo-animate" data-animate="bounceIn" data-delay="600">
                  <i class="icon-warning-sign"></i>
                  This is <strong>warning</strong> alert message
                  <a data-component="alert" href="#" class="close">&times;</a>
               </div>

               <div class="alert-box round red mo-animate" data-animate="bounceIn" data-delay="800">
                  <i class="icon-circledelete"></i>
                  This is <strong>error</strong> alert message
                  <a data-component="alert" href="#" class="close">&times;</a>
               </div>
            </div>

            <div class="large-12 columns separator">
               <hr>
            </div>

            <div class="large-12 columns mo-animate" data-animate="fadeInLeft">
               <h3>Progress Bar</h3>
            </div>

            <div class="large-6 columns mo-animate" data-animate="fadeInleft">
               <h5>Progress Bar default style</h5>
               <pre class="prettyprint linenums mo-animate" data-animate="fadeInDown">
&lt;div class=&quot;progress-bar&quot; data-percent=&quot;70&quot;&gt;
   &lt;div class=&quot;progress-content&quot;&gt;
      &lt;span class=&quot;progress-title&quot;&gt;[...]&lt;/span&gt;
   &lt;/div&gt;
&lt;/div&gt;

&lt;!-- available color choise 
   &lt;div class=&quot;progress-content&quot;&gt;        -&gt; default color
   &lt;div class=&quot;progress-content blue&quot;&gt;   -&gt; blue color
   &lt;div class=&quot;progress-content green&quot;&gt;  -&gt; green color
   &lt;div class=&quot;progress-content yellow&quot;&gt; -&gt; yellow color
   &lt;div class=&quot;progress-content red&quot;&gt;    -&gt; red color
--&gt;
</pre>
            
               <div class="progress-trigger">
                  <div class="progress-bar mo-animate" data-animate="fadeInDown" data-percent="70">
                     <div class="progress-content">
                        <span class="progress-title">Progress bar default (grey)</span>
                     </div>
                  </div>               

                  <div class="progress-bar mo-animate" data-animate="fadeInDown" data-delay="300" data-percent="80">
                     <div class="progress-content green">
                        <span class="progress-title">Progress bar Green</span>
                     </div>
                  </div>

                  <div class="progress-bar mo-animate" data-animate="fadeInDown" data-delay="500" data-percent="95">
                     <div class="progress-content blue">
                        <span class="progress-title">Progress bar Blue</span>
                     </div>
                  </div>

                  <div class="progress-bar mo-animate" data-animate="fadeInDown" data-delay="700" data-percent="60">
                     <div class="progress-content yellow">
                        <span class="progress-title">Progress bar Yellow</span>
                     </div>
                  </div>

                  <div class="progress-bar mo-animate" data-animate="fadeInDown" data-delay="900" data-percent="45">
                     <div class="progress-content red">
                        <span class="progress-title">Progress bar Red</span>
                     </div>
                  </div>                   
               </div>
            </div>

            <div class="large-6 columns mo-animate" data-animate="fadeInleft">
               <h5>Progress Bar thin style</h5>
               <pre class="prettyprint linenums mo-animate" data-animate="fadeInDown">
&lt;div class=&quot;progress-bar thin&quot; data-percent=&quot;70&quot;&gt;
   &lt;div class=&quot;progress-content&quot;&gt;
      &lt;span class=&quot;progress-title&quot;&gt;[...]&lt;/span&gt;
   &lt;/div&gt;
&lt;/div&gt;

&lt;!-- available color choise 
   &lt;div class=&quot;progress-content&quot;&gt;        -&gt; default color
   &lt;div class=&quot;progress-content blue&quot;&gt;   -&gt; blue color
   &lt;div class=&quot;progress-content green&quot;&gt;  -&gt; green color
   &lt;div class=&quot;progress-content yellow&quot;&gt; -&gt; yellow color
   &lt;div class=&quot;progress-content red&quot;&gt;    -&gt; red color
--&gt;
</pre>         
               <div class="progress-trigger">
                  <div class="progress-bar thin mo-animate" data-animate="fadeInDown" data-percent="70">
                     <div class="progress-content">
                        <span class="progress-title">Progress bar default (grey)</span>
                     </div>
                  </div>               

                  <div class="progress-bar thin mo-animate" data-animate="fadeInDown" data-delay="300" data-percent="80">
                     <div class="progress-content green">
                        <span class="progress-title">Progress bar Green</span>
                     </div>
                  </div>

                  <div class="progress-bar thin mo-animate" data-animate="fadeInDown" data-delay="500" data-percent="95">
                     <div class="progress-content blue">
                        <span class="progress-title">Progress bar Blue</span>
                     </div>
                  </div>

                  <div class="progress-bar thin mo-animate" data-animate="fadeInDown" data-delay="700" data-percent="60">
                     <div class="progress-content yellow">
                        <span class="progress-title">Progress bar Yellow</span>
                     </div>
                  </div>

                  <div class="progress-bar thin mo-animate" data-animate="fadeInDown" data-delay="900" data-percent="45">
                     <div class="progress-content red">
                        <span class="progress-title">Progress bar Red</span>
                     </div>
                  </div>                   
               </div>   
            </div>

            <div class="large-12 columns mo-animate" style="padding-top: 20px; border-radius: 5px; background:#ededed;" data-animate="fadeInleft">
               <h5>Progress Bar thin (thermo) style</h5>
               <pre class="prettyprint linenums mo-animate" data-animate="fadeInDown">
&lt;div class=&quot;progress-bar thermo&quot; data-percent=&quot;70&quot;&gt;
   &lt;div class=&quot;progress-content&quot;&gt;
      &lt;span class=&quot;progress-title&quot;&gt;[...]&lt;/span&gt;
   &lt;/div&gt;
&lt;/div&gt;

&lt;!-- available color choise 
   &lt;div class=&quot;progress-content&quot;&gt;        -&gt; default color
   &lt;div class=&quot;progress-content blue&quot;&gt;   -&gt; blue color
   &lt;div class=&quot;progress-content green&quot;&gt;  -&gt; green color
   &lt;div class=&quot;progress-content yellow&quot;&gt; -&gt; yellow color
   &lt;div class=&quot;progress-content red&quot;&gt;    -&gt; red color
--&gt;
</pre>         
               <div class="progress-trigger gap">
                  <div class="progress-bar thermo mo-animate" data-animate="fadeInDown" data-percent="70">
                     <div class="progress-content">
                        <span class="progress-title"><i class="colored icon-htmlfive"></i></span>
                     </div>
                  </div>               

                  <div class="progress-bar thermo mo-animate" data-animate="fadeInDown" data-delay="300" data-percent="80">
                     <div class="progress-content green">
                        <span class="progress-title"><i class="colored icon-cssthree"></i></span>
                     </div>
                  </div>

                  <div class="progress-bar thermo mo-animate" data-animate="fadeInDown" data-delay="500" data-percent="95">
                     <div class="progress-content blue">
                        <span class="progress-title"><i class="colored icon-ruby"></i></span>
                     </div>
                  </div>

                  <div class="progress-bar thermo mo-animate" data-animate="fadeInDown" data-delay="700" data-percent="60">
                     <div class="progress-content yellow">
                        <span class="progress-title"><i class="colored icon-wordpress"></i></span>
                     </div>
                  </div>

                  <div class="progress-bar thermo mo-animate" data-animate="fadeInDown" data-delay="900" data-percent="45">
                     <div class="progress-content red">
                        <span class="progress-title"><i class="colored icon-jquery"></i></span>
                     </div>
                  </div>                   
               </div>   
            </div>
            
            <div class="large-12 columns separator">
               <hr>
            </div>

            <div class="large-12 columns mo-animate" data-animate="fadeInDown">
               <h3>Chart Default</h3>
               <pre class="prettyprint linenums mo-animate" data-animate="fadeInDown">
&lt;div class=&quot;large-3 medium-3 columns&quot;&gt;                  
   &lt;div class=&quot;chart&quot; data-percent=&quot;70&quot;&gt;&lt;/div&gt;
   &lt;p&gt;Chart Default&lt;/p&gt;
&lt;/div&gt;

&lt;!-- available color choise 
   &lt;div class=&quot;chart&quot;&gt;        -&gt; default color
   &lt;div class=&quot;chart-blue&quot;&gt;   -&gt; blue color
   &lt;div class=&quot;chart-green&quot;&gt;  -&gt; green color
   &lt;div class=&quot;chart-yellow&quot;&gt; -&gt; yellow color
   &lt;div class=&quot;chart-red&quot;&gt;    -&gt; red color
--&gt;
</pre>
            </div> 

            <div class="chart-trigger">   
               <div class="large-4 medium-4 medium-potrait-6 columns mo-animate text-center" data-animate="fadeInDown" data-delay="200">
                  <div class="chart" data-percent="70"></div>
                  <p>Chart Default</p>
               </div>

               <div class="large-4 medium-4 medium-potrait-6 columns mo-animate text-center" data-animate="fadeInDown" data-delay="200">
                  <div class="chart-green" data-percent="80"></div>
                  <p>Chart Green</p>
               </div>

               <div class="large-4 medium-4 medium-potrait-6 columns mo-animate text-center" data-animate="fadeInDown" data-delay="400">
                  <div class="chart-blue" data-percent="90"></div>
                  <p>Chart Blue</p>
               </div>

               <div class="large-4 medium-4 medium-potrait-6 columns mo-animate text-center" data-animate="fadeInDown" data-delay="600">
                  <div class="chart-yellow" data-percent="60"></div>
                  <p>Chart Yellow</p>
               </div>

               <div class="large-4 medium-4 medium-potrait-6 columns mo-animate text-center" data-animate="fadeInDown" data-delay="800">
                  <div class="chart-red" data-percent="45"></div>
                  <p>Chart Red</p>
               </div>

               <div class="large-4 medium-4 medium-potrait-6 columns mo-animate text-center" data-animate="fadeInDown" data-delay="800">
                  <div class="chart-white" data-percent="30"></div>
                  <p>Chart White</p>
               </div>
            </div>

            <div class="large-12 columns gap mo-animate" data-animate="fadeInDown" data-top="20">
               <h3>Chart Styling</h3>
               <pre class="prettyprint linenums mo-animate" data-animate="fadeInDown">
&lt;div class=&quot;large-3 medium-3 columns&quot;&gt;                  
   &lt;div class=&quot;chart2&quot; data-percent=&quot;70&quot;&gt;&lt;/div&gt;
   &lt;p&gt;Chart Default&lt;/p&gt;
&lt;/div&gt;

&lt;!-- available color choise 
   &lt;div class=&quot;chart2&quot;&gt;        -&gt; default color
   &lt;div class=&quot;chart2-blue&quot;&gt;   -&gt; blue color
   &lt;div class=&quot;chart2-green&quot;&gt;  -&gt; green color
   &lt;div class=&quot;chart2-yellow&quot;&gt; -&gt; yellow color
   &lt;div class=&quot;chart2-red&quot;&gt;    -&gt; red color
--&gt;
</pre>
            
            <div class="chart-trigger">
               <div class="large-4 medium-4 medium-potrait-6 columns text-center mo-animate" data-animate="fadeInDown" data-delay="200" >
                  <div class="chart2" data-percent="45"></div>
                  <p>Chart Green</p>
               </div>

               <div class="large-4 medium-4 medium-potrait-6 columns text-center mo-animate" data-animate="fadeInDown" data-delay="400">
                  <div class="chart2-blue" data-percent="60"></div>
                  <p>Chart Blue</p>
               </div>

               <div class="large-4 medium-4 medium-potrait-6 columns text-center mo-animate" data-animate="fadeInDown" data-delay="200" >
                  <div class="chart2-green" data-percent="45"></div>
                  <p>Chart Green</p>
               </div>

               <div class="large-4 medium-4 medium-potrait-6 columns text-center mo-animate" data-animate="fadeInDown" data-delay="600">
                  <div class="chart2-yellow" data-percent="90"></div>
                  <p>Chart Yellow</p>
               </div>

               <div class="large-4 medium-4 medium-potrait-6 columns text-center mo-animate" data-animate="fadeInDown" data-delay="800">
                  <div class="chart2-red" data-percent="80"></div>
                  <p>Chart Red</p>
               </div>

               <div class="large-4 medium-4 medium-potrait-6 columns text-center mo-animate" data-animate="fadeInDown" data-delay="800">
                  <div class="chart2-white" data-percent="50"></div>
                  <p>Chart White</p>
               </div>
            </div>
         </div>
         </div>               
      </section>  

            <footer>
         <div class="mo-contentfull content-bg" id="footer-bg">
            <div class="rowfull">
               <div class="left-bg"></div>
               <div class="right-bg"></div>
            </div>
         </div>
         
         <section class="mo-content social-bg-content">   
            <div class="row">
               <div class="large-3 medium-3 columns get-connect medium-potrait-hide small-hide">
                  <h6>Get Connected</h6>
               </div>

               <div class="large-9 medium-9 columns medium-potrait-12 social-content">
                  <ul class="social-icon cube">
                     <li>
                        <div class="front"><a class="social-facebook" href="#"></a></div>
                        <div class="back"><a class="social-facebook" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-twitter" href="#"></a></div>
                        <div class="back"><a class="social-twitter" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-google" href="#"></a></div>
                        <div class="back"><a class="social-google" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-linkedin" href="#"></a></div>
                        <div class="back"><a class="social-linkedin" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-pinterest" href="#"></a></div>
                        <div class="back"><a class="social-pinterest" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-dribbble" href="#"></a></div>
                        <div class="back"><a class="social-dribbble" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-vimeo" href="#"></a></div>
                        <div class="back"><a class="social-vimeo" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-behance" href="#"></a></div>
                        <div class="back"><a class="social-behance" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-lastfm" href="#"></a></div>
                        <div class="back"><a class="social-lastfm" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-instagram" href="#"></a></div>
                        <div class="back"><a class="social-instagram" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-evernote" href="#"></a></div>
                        <div class="back"><a class="social-evernote" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-skype" href="#"></a></div>
                        <div class="back"><a class="social-skype" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-envato" href="#"></a></div>
                        <div class="back"><a class="social-envato" href="#"></a></div>
                     </li>
                  </ul>
               </div>
            </div>
         </section>

         <section class="mo-content footer-content">
            <div class="row">
               <div class="large-3 medium-3 medium-potrait-12 small-12 columns">
                  <div class="footer-logo">
                     <a href="index.html">
                        <img src="img/logo-footer.png" alt="Maleo Logo" class="retina">
                     </a>
                     <span class="logo-text">&copy; 2014 Maleo, Inc. All rights reserved.</span>
                  </div>               
               </div>

               <div class="large-3 medium-3 medium-potrait-4 small-12 columns">
                  <h6 class="heading-footer">Contact Us</h6>
                  <ul>
                     <li>For press : </li>
                     <li><a class="maleo-color" href="#">press@maleo.com</a></li>
                     <li>General contact :</li>
                     <li><a class="maleo-color" href="#">hello@maleo.com</a></li>
                  </ul>
               </div>

               <div class="large-3 medium-3 medium-potrait-4 small-12 columns">
                  <h6 class="heading-footer">Quick Links</h6>
                  <ul>
                     <li><a href="#">About</a></li>
                     <li><a href="#">Downloads</a></li>
                     <li><a href="#">FAQ</a></li>
                     <li><a href="#">Press</a></li>
                     <li><a href="#">Privacy Policy</a></li>
                     <li><a href="#">Terms of Service</a></li>
                     <li><a href="#">Release Updates</a></li>
                  </ul>
               </div>

               <div class="large-3 medium-3 medium-potrait-4 small-12 columns">
                  <h6 class="heading-footer">Address</h6>
                  <ul>
                     <li>2158 Madison Avenue </li>
                     <li>Montgomery, AL(Alabama) 36107</li>
                  </ul>

                  <address>  
                     Phone : 444 323 3456 <br>  
                     Fax : 444 323 3455 <br>
                  </address>
               </div>

               <div class="scroll-top">
                  <a id="top" class="scroll"><i class="icon-chevron-up"></i></a>
               </div>
            </div>
         </section>
      </footer>

   </div>      
   
   <!-- javascript here -->
   <script src="js/jquery.min.js"></script>
   <script src="js/jquery.queryloader2.min.js"></script>
   <script src="js/jquery.smartmenus/jquery.smartmenus.min.js"></script>
   <script src="js/owl.carousel.min.js"></script>
   <script src="js/jquery.fancybox.js"></script>
   <script src="js/jquery.fancybox-media.js"></script>
   <script src="js/jquery.waypoints.min.js"></script>
   <script src="js/jquery.sticky.js"></script>
   <script src="js/jquery.retina.js"></script>

   <!-- javascript plugin -->  
   <script src="js/jquery.easyResponsiveTabs.js"></script>
   <script src="js/jquery.easypiechart.js"></script>
   <script src="js/prettify.js"></script>

   <!-- javascript core --> 
   <script src="js/maleo.js"></script>
   <script src="js/jquery.cookie.js"></script>
   <script src="js/theme-switcher.js"></script>

   <script type="text/javascript">
      jQuery(document).ready(function($){         
         
      });
   </script>
</body>
</html>