<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="keywords" content="HTML5 Template" />
   <meta name="description" content="Maleo - Multipurpose HTML5 Template">
   <meta name="author" content="prodigystudio.net">

   <title>Maleo - Multipurpose HTML5 Template</title>
   
   <!-- Reset CSS -->
   <link rel="stylesheet" href="css/reset.css" />

   <!-- Retina Bookmark Icon -->
   <link rel="apple-touch-icon-precomposed" href="apple-icon.png" />

   <!-- Maleo Framework CSS -->
   <link href="css/whhg.css" rel="stylesheet" />
   <link href="css/social-icon.css" rel="stylesheet" />
   <link href="css/flat-icon.css" rel="stylesheet" />
   <link href="css/maleo.css" rel="stylesheet" />
   
   <!-- Maleo Component CSS -->
   <link href="css/fancybox.css" rel="stylesheet" />
   <link href="css/components/menu.css" rel="stylesheet" />

   <!-- Style CSS -->
   <link href="css/style.css" rel="stylesheet" />
      
   <!-- Maleo Theme -->
   <link href="css/theme-switcher.css" rel="stylesheet" />
   <link href="css/theme/green.css" id="theme" rel="stylesheet">

   <!-- Doc CSS -->
   <link href="css/docs/doc.css" rel="stylesheet" />
   
   <!-- Favicon -->
   <link rel="shortcut icon" href="img/favicon.ico" />

   <!-- Google Webfont -->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet'>
   <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>  
   <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet'>
   <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400italic' rel='stylesheet'>
      
   <!-- Additional Javascript --> 
   <script src="js/modernizr.js"></script>

</head>

<body>
   <div id="mo-wrapper">
      <header class="sticky-menu">
         <div class="mo-contentfull" id="header-bg">
            <div class="rowfull">
               <div class="left-bg"></div>
               <div class="right-bg"></div>
            </div>
         </div>

         <div class="row">
            <div class="large-3 medium-3 medium-potrait-12 small-12 columns logo-content">
               <div class="logo">
                  <a href="index.html">   
                     <img src="img/logo.png" alt="Maleo Logo" class="retina">
                  </a>
               </div>
            </div>

            <nav class="menu-content">
               <ul id="menu" class="sm mo-menu">
                  <li><a href="index.html">Home</a>
                     <ul>
                        <li><a href="index-layout2.html">Index Layout 2</a></li>
                        <li><a href="index-layout3.html">Index Layout 3</a></li>
                        <li><a href="index-layout4.html">Index Layout 4</a></li>
                        <li><a href="index-layout5.html">Index Layout 5</a></li>
                        <li><a href="index-layout6.html">Index Layout 6</a></li>
                        <li><a href="index-layout7.html">Index Layout 7</a></li>
                        <li><a href="index-layout8.html">Index Layout 8</a></li>
                     </ul>
                  </li>
                  <li><a href="#">Pages</a>
                     <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="pricing-plan.html">Pricing Plan</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li><a href="team.html">Our Team</a></li>
                        <li><a href="sitemap.html">Sitemap</a></li>
                        <li><a href="single.html">Blog Post</a></li>
                        <li><a href="portfolio-single.html">Portfolio Single</a></li>
                        <li><a href="faq.html">FAQ Page</a></li>
                        <li><a href="404.html">404 Error</a></li>
                     </ul>
                  </li>
                  <li class="mega-menu active"><a href="#">Features</a>
                     <ul class="mega-menu">
                        <li>
                           <div class="mega-menu-content">
                              <div class="large-3 medium-3 medium-potrait-4 small-12 columns">
                                 <div class="mega-menu-title">Pricing Plan <span class="label round">4</span></div>
                                 <ul class="mega-menu-list">
                                    <li><a href="pricing-plan.html">Pricing Plan &ndash; Version 1</a></li>
                                    <li><a href="pricing-plan2.html">Pricing Plan &ndash; Version 2</a></li>
                                    <li><a href="pricing-plan3.html">Pricing Plan &ndash; Version 3</a></li>
                                    <li><a href="pricing-plan4.html">Pricing Plan &ndash; Version 4</a></li>
                                 </ul>

                                 <div class="mega-menu-title">Header <span class="label round">3</span></div>
                                 <ul class="mega-menu-list">
                                    <li><a href="index.html">Header &ndash; Version 1</a></li>
                                    <li><a href="index-layout2.html">Header &ndash; Version 2</a></li>
                                    <li><a href="index-layout3.html">Header &ndash; Version 3</a></li>
                                 </ul>
                              </div>

                              <div class="large-3 medium-3 medium-potrait-4 small-12 columns">
                                 <div class="mega-menu-title">Testimonials <span class="label round">6</span></div>
                                 <ul class="mega-menu-list">
                                    <li><a href="testimonials.html">Testimonials &ndash; Version 1</a></li>
                                    <li><a href="testimonials2.html">Testimonials &ndash; Version 2</a></li>
                                    <li><a href="testimonials3.html">Testimonials &ndash; Version 3</a></li>
                                    <li><a href="testimonials4.html">Testimonials &ndash; Version 4</a></li>
                                    <li><a href="testimonials5.html">Testimonials &ndash; Version 5</a></li>
                                    <li><a href="testimonials6.html">Testimonials &ndash; Version 6</a></li>
                                 </ul>
                              </div>

                              <div class="large-3 medium-3 medium-potrait-4 small-12 columns">
                                 <div class="mega-menu-title">Element</div>
                                 <ul class="mega-menu-list">
                                    <li class="active"><a href="column.html">Column</a></li>
                                    <li><a href="table.html">Table</a></li>
                                    <li><a href="button-list.html">Button &amp; List <span class="label round">60+</span></a></li>
                                    <li><a href="icon-list.html">Icon List <span class="label round">2000+</span></a></li>
                                    <li><a href="flat-icon.html">Flat Icon</a></li>
                                    <li><a href="icon-use.html">Icon Use <span class="label round">6</span></a></li>
                                    <li><a href="typhography.html">Typhography</a></li>
                                    <li><a href="panel-promo.html">Panel &amp; Promo</a></li>
                                    <li><a href="tab-accordion.html">Tab &amp; Accordion</a></li>
                                    <li><a href="alert-progress.html">Alert &amp; Progress <span class="label round">5</span></a></li>
                                    <li><a href="timeline.html">Timeline</a></li>
                                 </ul>
                              </div>

                              <div class="large-3 medium-3 medium-potrait-12 small-12 columns">
                                 <div class="mega-menu-title">Main Feature</div>
                                 <div class="mega-menu-sub-content">
                                    <!-- <img src="img/sample/sample-mega-img.jpg" class="img-left"> -->
                                    <p>
                                       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </li>
                  <li><a href="#">Portfolio</a>
                     <ul>
                        <li><a href="portfolio-2column.html">Portfolio 2 Column</a></li>
                        <li><a href="portfolio-3column.html">Portfolio 3 Column</a></li>
                        <li><a href="portfolio-4column.html">Portfolio 4 Column</a></li>
                        <li><a href="#">Dropdown Level 1</a>
                           <ul>
                              <li><a href="#">Dropdown Level 2</a></li>
                              <li><a href="#">Dropdown Level 2</a></li>
                              <li><a href="#">Dropdown Level 2</a>
                                 <ul>
                                    <li><a href="#">Dropdown Level 3</a></li>
                                    <li><a href="#">Dropdown Level 3</a></li>
                                    <li><a href="#">Dropdown Level 3</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                     </ul>
                  </li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="contact.html">Contact</a></li>
               </ul>

               <ul class="header-info1">   
                  <li class="phone-info">
                     <i class="icon-phoneold"></i> 444 325 3456
                  </li>
                  <li class="toggle-search">
                     <i class="icon-search"></i>
                  </li>
               </ul>
            </nav>

            <div class="large-9 medium-9 medium-potrait-12 small-12 columns search-content">
               <form action="#">   
                  <div class="input-group">
                     <input type="text" name="search" class="form-control input-search" placeholder="search">
                     <span class="input-group-addon toggle-search"><i class="icon-search"></i></span>
                  </div>
               </form>
            </div>
         </div>
      </header>
      
      <section class="mo-content" id="page-header">
         <div class="row">
            <div class="large-12 columns page-title mo-animate" data-animate="fadeInDown">
               <div class="heading-wrapper">
                  <span class="heading-line"></span>
               </div>
               <h3>Column</h3>
               <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Element</a></li>
                  <li class="active">Column</li>
               </ol>
            </div>
         </div>
      </section>
      
      <section class="mo-content">
         <!-- 1 column sample -->    
         <div class="row">
            <div class="large-12 medium-12 columns mo-animate" data-animate="fadeInDown">
               <h3>1 Column</h3>
               <pre class="prettyprint linenums">&lt;div class=&quot;large-12 columns&quot;&gt;&lt;/div&gt;</pre>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborum.</p>
            </div>
         </div>
         
         <!-- 1/2 column sample -->  
         <div class="row">
            <div class="large-6 medium-6 columns mo-animate" data-animate="fadeInLeft">
               <h3>1/2 Column</h3>
               <pre class="prettyprint linenums">&lt;div class=&quot;large-6 columns&quot;&gt;&lt;/div&gt;</pre>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco laboris aliquip.</p>
            </div>
            <div class="large-6 medium-6 columns mo-animate" data-animate="fadeInRight">
               <h3>1/2 Column</h3>
               <pre class="prettyprint linenums">&lt;div class=&quot;large-6 columns&quot;&gt;&lt;/div&gt;</pre>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco laboris aliquip.</p>
            </div>
         </div>

         <!-- 1/3 column sample -->
         <div class="row">
            <div class="large-4 medium-4 columns mo-animate" data-animate="fadeInLeft">
               <h3>1/3 Column</h3>
               <pre class="prettyprint linenums">&lt;div class=&quot;large-4 columns&quot;&gt;&lt;/div&gt;</pre>
               <p>Lorem ipsum dolor sit amet, consectetur incididunt ut labore et dolore magna aliqua adipisicing elit sed do eiusmod tempor</p>
            </div>
            <div class="large-4 medium-4 columns mo-animate" data-animate="fadeInDown">
               <h3>1/3 Column</h3>
               <pre class="prettyprint linenums">&lt;div class=&quot;large-4 columns&quot;&gt;&lt;/div&gt;</pre>
               <p>Lorem ipsum dolor sit amet, consectetur incididunt ut labore et dolore magna aliqua adipisicing elit sed do eiusmod tempor</p>
            </div>
            <div class="large-4 medium-4 columns mo-animate" data-animate="fadeInRight">
               <h3>1/3 Column</h3>
               <pre class="prettyprint linenums">&lt;div class=&quot;large-4 columns&quot;&gt;&lt;/div&gt;</pre>
               <p>Lorem ipsum dolor sit amet, consectetur incididunt ut labore et dolore magna aliqua adipisicing elit sed do eiusmod tempor</p>
            </div>
         </div>

         <!-- 1/4 column sample -->
         <div class="row">
            <div class="large-3 medium-3 columns mo-animate" data-animate="fadeInDown" data-delay="100">
               <h3>1/4 Column</h3>
               <pre class="prettyprint linenums">&lt;div class=&quot;large-3 columns&quot;&gt;&lt;/div&gt;</pre>
               <p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusmod tempor incididunt</p>
            </div>
            <div class="large-3 medium-3 columns mo-animate" data-animate="fadeInDown" data-delay="200">
               <h3>1/4 Column</h3>
               <pre class="prettyprint linenums">&lt;div class=&quot;large-3 columns&quot;&gt;&lt;/div&gt;</pre>
               <p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusmod tempor incididunt</p>
            </div>
            <div class="large-3 medium-3 columns mo-animate" data-animate="fadeInDown" data-delay="400">
               <h3>1/4 Column</h3>
               <pre class="prettyprint linenums">&lt;div class=&quot;large-3 columns&quot;&gt;&lt;/div&gt;</pre>
               <p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusmod tempor incididunt</p>
            </div>
            <div class="large-3 medium-3 columns mo-animate" data-animate="fadeInDown" data-delay="600">
               <h3>1/4 Column</h3>
               <pre class="prettyprint linenums">&lt;div class=&quot;large-3 columns&quot;&gt;&lt;/div&gt;</pre>
               <p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusmod tempor incididunt</p>
            </div>
         </div>      

         <!-- column with sidebar sample --> 
         <div class="row">
            <div class="large-8 medium-8 columns mo-animate" data-animate="fadeInLeft">
               <h3>2/3 Column</h3>
               <pre class="prettyprint linenums">&lt;div class=&quot;large-8 columns&quot;&gt;&lt;/div&gt;</pre>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
            </div>
            <div class="large-4 medium-4 columns mo-animate" data-animate="fadeInRight">
               <h3>1/3 Column</h3>
               <pre class="prettyprint linenums">&lt;div class=&quot;large-4 columns&quot;&gt;&lt;/div&gt;</pre>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
         </div>               
      </section>   

            <footer>
         <div class="mo-contentfull content-bg" id="footer-bg">
            <div class="rowfull">
               <div class="left-bg"></div>
               <div class="right-bg"></div>
            </div>
         </div>
         
         <section class="mo-content social-bg-content">   
            <div class="row">
               <div class="large-3 medium-3 columns get-connect medium-potrait-hide small-hide">
                  <h6>Get Connected</h6>
               </div>

               <div class="large-9 medium-9 columns medium-potrait-12 social-content">
                  <ul class="social-icon cube">
                     <li>
                        <div class="front"><a class="social-facebook" href="#"></a></div>
                        <div class="back"><a class="social-facebook" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-twitter" href="#"></a></div>
                        <div class="back"><a class="social-twitter" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-google" href="#"></a></div>
                        <div class="back"><a class="social-google" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-linkedin" href="#"></a></div>
                        <div class="back"><a class="social-linkedin" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-pinterest" href="#"></a></div>
                        <div class="back"><a class="social-pinterest" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-dribbble" href="#"></a></div>
                        <div class="back"><a class="social-dribbble" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-vimeo" href="#"></a></div>
                        <div class="back"><a class="social-vimeo" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-behance" href="#"></a></div>
                        <div class="back"><a class="social-behance" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-lastfm" href="#"></a></div>
                        <div class="back"><a class="social-lastfm" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-instagram" href="#"></a></div>
                        <div class="back"><a class="social-instagram" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-evernote" href="#"></a></div>
                        <div class="back"><a class="social-evernote" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-skype" href="#"></a></div>
                        <div class="back"><a class="social-skype" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-envato" href="#"></a></div>
                        <div class="back"><a class="social-envato" href="#"></a></div>
                     </li>
                  </ul>
               </div>
            </div>
         </section>

         <section class="mo-content footer-content">
            <div class="row">
               <div class="large-3 medium-3 medium-potrait-12 small-12 columns">
                  <div class="footer-logo">
                     <a href="index.html">
                        <img src="img/logo-footer.png" alt="Maleo Logo" class="retina">
                     </a>
                     <span class="logo-text">&copy; 2014 Maleo, Inc. All rights reserved.</span>
                  </div>               
               </div>

               <div class="large-3 medium-3 medium-potrait-4 small-12 columns">
                  <h6 class="heading-footer">Contact Us</h6>
                  <ul>
                     <li>For press : </li>
                     <li><a class="maleo-color" href="#">press@maleo.com</a></li>
                     <li>General contact :</li>
                     <li><a class="maleo-color" href="#">hello@maleo.com</a></li>
                  </ul>
               </div>

               <div class="large-3 medium-3 medium-potrait-4 small-12 columns">
                  <h6 class="heading-footer">Quick Links</h6>
                  <ul>
                     <li><a href="#">About</a></li>
                     <li><a href="#">Downloads</a></li>
                     <li><a href="#">FAQ</a></li>
                     <li><a href="#">Press</a></li>
                     <li><a href="#">Privacy Policy</a></li>
                     <li><a href="#">Terms of Service</a></li>
                     <li><a href="#">Release Updates</a></li>
                  </ul>
               </div>

               <div class="large-3 medium-3 medium-potrait-4 small-12 columns">
                  <h6 class="heading-footer">Address</h6>
                  <ul>
                     <li>2158 Madison Avenue </li>
                     <li>Montgomery, AL(Alabama) 36107</li>
                  </ul>

                  <address>  
                     Phone : 444 323 3456 <br>  
                     Fax : 444 323 3455 <br>
                  </address>
               </div>

               <div class="scroll-top">
                  <a id="top" class="scroll"><i class="icon-chevron-up"></i></a>
               </div>
            </div>
         </section>
      </footer>

   </div>      
   
   <!-- javascript here -->
   <script src="js/jquery.min.js"></script>
   <script src="js/jquery.queryloader2.min.js"></script>
   <script src="js/jquery.smartmenus/jquery.smartmenus.min.js"></script>
   <script src="js/owl.carousel.min.js"></script>
   <script src="js/jquery.fancybox.js"></script>
   <script src="js/jquery.fancybox-media.js"></script>
   <script src="js/jquery.waypoints.min.js"></script>
   <script src="js/jquery.sticky.js"></script>
   <script src="js/jquery.retina.js"></script>

   <!-- javascript plugin -->
   <script src="js/prettify.js"></script>
   
   <!-- javascript core --> 
   <script src="js/maleo.js"></script>
   <script src="js/jquery.cookie.js"></script>
   <script src="js/theme-switcher.js"></script>

   <script type="text/javascript">
      jQuery(document).ready(function($){
         
      });
   </script>
</body>
</html>