<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="keywords" content="HTML5 Template" />
   <meta name="description" content="Maleo - Multipurpose HTML5 Template">
   <meta name="author" content="prodigystudio.net">

   <title>Maleo - Multipurpose HTML5 Template</title>
   
   <!-- Reset CSS -->
   <link rel="stylesheet" href="css/reset.css" />
   
   <!-- Retina Bookmark Icon -->
   <link rel="apple-touch-icon-precomposed" href="apple-icon.png" />

   <!-- Maleo Framework CSS -->
   <link href="css/whhg.css" rel="stylesheet" />
   <link href="css/social-icon.css" rel="stylesheet" />
   <link href="css/flat-icon.css" rel="stylesheet" />
   <link href="css/maleo.css" rel="stylesheet" />
   
   <!-- Maleo Component CSS -->
   <link href="css/fancybox.css" rel="stylesheet" />
   <link href="css/components/menu.css" rel="stylesheet" />
   <link href="js/rs-plugin/css/settings.css" rel="stylesheet" media="screen" />
   <link href="css/revolution-responsive.css" rel="stylesheet" media="screen" />

   <!-- Style CSS -->
   <link href="css/style.css" rel="stylesheet" />
   
   <!-- Maleo Theme -->
   <link href="css/theme-switcher.css" rel="stylesheet" />
   <link href="css/theme/green.css" id="theme" rel="stylesheet">

   <!-- Favicon -->
   <link rel="shortcut icon" href="img/favicon.ico" />

   <!-- Google Webfont -->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet'>
   <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>  
   <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet'>
   <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400italic' rel='stylesheet'>
      
   <!-- Additional Javascript --> 
   <script src="js/modernizr.js"></script>
   
</head>

<body>
   <div id="mo-wrapper">
      <header class="header3 sticky-menu">
         <div class="header-content">
            <div class="row">
               <div class="large-3 medium-3 medium-potrait-4 small-12 columns logo-content">
                  <div class="logo">
                     <a href="index.html">   
                        <img src="img/logo-alternative.png" alt="Maleo Logo" class="retina">
                     </a>
                  </div>
               </div>

               <div class="large-9 medium-9 medium-potrait-8 small-12 columns menu-move-sticky">
                  <div class="toggle-search-wrapper">
                     <div class="toggle-search search-header3"><i class="icon-search"></i></div>
                  </div>   

                  <div class="search-content">
                     <div class="input-group">
                        <input type="text" class="form-control" placeholder="search">
                        <span class="input-group-addon toggle-search search-header3 active"><i class="icon-search"></i></span>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="menu-content-wrapper">
            <div class="row">
               <div class="large-12 columns">
                  <nav class="menu-content">
                     <ul id="menu" class="sm mo-menu">
                        <li class="active"><a href="index.html">Home</a>
                           <ul>
                              <li><a href="index-layout2.html">Index Layout 2</a></li>
                              <li class="active"><a href="index-layout3.html">Index Layout 3</a></li>
                              <li><a href="index-layout4.html">Index Layout 4</a></li>
                              <li><a href="index-layout5.html">Index Layout 5</a></li>
                              <li><a href="index-layout6.html">Index Layout 6</a></li>
                           </ul>
                        </li>
                        <li><a href="#">Pages</a>
                           <ul>
                              <li><a href="about.html">About Us</a></li>
                              <li><a href="services.html">Services</a></li>
                              <li><a href="pricing-plan.html">Pricing Plan</a></li>
                              <li><a href="testimonials.html">Testimonials</a></li>
                              <li><a href="team.html">Our Team</a></li>
                              <li><a href="sitemap.html">Sitemap</a></li>
                              <li><a href="single.html">Blog Post</a></li>
                              <li><a href="portfolio-single.html">Portfolio Single</a></li>
                              <li><a href="faq.html">FAQ Page</a></li>
                              <li><a href="404.html">404 Error</a></li>
                           </ul>
                        </li>
                        <li class="mega-menu"><a href="#">Features</a>
                           <ul class="mega-menu">
                              <li>
                                 <div class="mega-menu-content">
                                    <div class="large-3 medium-3 medium-potrait-4 columns">
                                       <div class="mega-menu-title">Pricing Plan <span class="label round">4</span></div>
                                       <ul class="mega-menu-list">
                                          <li><a href="pricing-plan.html">Pricing Plan &ndash; Version 1</a></li>
                                          <li><a href="pricing-plan2.html">Pricing Plan &ndash; Version 2</a></li>
                                          <li><a href="pricing-plan3.html">Pricing Plan &ndash; Version 3</a></li>
                                          <li><a href="pricing-plan4.html">Pricing Plan &ndash; Version 4</a></li>
                                       </ul>

                                       <div class="mega-menu-title">Header <span class="label round">3</span></div>
                                       <ul class="mega-menu-list">
                                          <li><a href="index.html">Header &ndash; Version 1</a></li>
                                          <li><a href="index-layout2.html">Header &ndash; Version 2</a></li>
                                          <li><a href="index-layout3.html">Header &ndash; Version 3</a></li>
                                       </ul>
                                    </div>

                                    <div class="large-3 medium-3 medium-potrait-4 columns">
                                       <div class="mega-menu-title">Testimonials <span class="label round">6</span></div>
                                       <ul class="mega-menu-list">
                                          <li><a href="testimonials.html">Testimonials &ndash; Version 1</a></li>
                                          <li><a href="testimonials2.html">Testimonials &ndash; Version 2</a></li>
                                          <li><a href="testimonials3.html">Testimonials &ndash; Version 3</a></li>
                                          <li><a href="testimonials4.html">Testimonials &ndash; Version 4</a></li>
                                          <li><a href="testimonials5.html">Testimonials &ndash; Version 5</a></li>
                                          <li><a href="testimonials6.html">Testimonials &ndash; Version 6</a></li>
                                       </ul>
                                    </div>

                                    <div class="large-3 medium-3 medium-potrait-4 columns">
                                       <div class="mega-menu-title">Element</div>
                                       <ul class="mega-menu-list">
                                          <li><a href="column.html">Column</a></li>
                                          <li><a href="table.html">Table</a></li>
                                          <li><a href="button-list.html">Button &amp; List <span class="label round">60+</span></a></li>
                                          <li><a href="icon-list.html">Icon List <span class="label round">2000+</span></a></li>
                                          <li><a href="flat-icon.html">Flat Icon</a></li>
                                          <li><a href="icon-use.html">Icon Use <span class="label round">6</span></a></li>
                                          <li><a href="typhography.html">Typhography</a></li>
                                          <li><a href="panel-promo.html">Panel &amp; Promo</a></li>
                                          <li><a href="tab-accordion.html">Tab &amp; Accordion</a></li>
                                          <li><a href="alert-progress.html">Alert &amp; Progress <span class="label round">5</span></a></li>
                                          <li><a href="timeline.html">Timeline</a></li>
                                       </ul>
                                    </div>

                                    <div class="large-3 medium-3 medium-potrait-12 columns">
                                       <div class="mega-menu-title">Main Feature</div>
                                       <div class="mega-menu-sub-content">
                                          <!-- <img src="img/sample/sample-mega-img.jpg" class="img-left"> -->
                                          <p>
                                             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                             tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                             quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                          </p>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </li>
                        <li><a href="#">Portfolio</a>
                           <ul>
                              <li><a href="portfolio-2column.html">Portfolio 2 Column</a></li>
                              <li><a href="portfolio-3column.html">Portfolio 3 Column</a></li>
                              <li><a href="portfolio-4column.html">Portfolio 4 Column</a></li>
                              <li><a href="#">Dropdown Level 1</a>
                                 <ul>
                                    <li><a href="#">Dropdown Level 2</a></li>
                                    <li><a href="#">Dropdown LevelLevelLevel 2</a></li>
                                    <li><a href="#">Dropdown Level 2</a>
                                       <ul>
                                          <li><a href="#">Dropdown Level 3</a></li>
                                          <li><a href="#">Dropdown Level 3</a></li>
                                          <li><a href="#">Dropdown Level 3</a></li>
                                       </ul>
                                    </li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                     </ul>
                  </nav>

                  <div class="client-content small-hide">
                     <ul>
                        <li><a class="login" href="#"><i class="icon-user"></i>Login</a></li>
                        <li><a class="signup" href="#">Sign Up</a></li>
                     </ul>
                     <div class="login-panel">
                        <form action="#">
                           <h5>Login to your Account</h5>
                           <div class="form-group name-ico">
                              <input type="text" class="form-control" id="name" placeholder="username">
                           </div>

                           <div class="form-group email-ico">
                              <input type="email" class="form-control" id="email" placeholder="email">
                           </div>

                           <div class="form-group remember-content">
                              <div class="checkbox">
                                 <label>
                                    <input type="checkbox" id="checkbox" value="option1"> Remember me
                                 </label>
                              </div>
                           </div>

                           <div class="form-inline submit-content">
                              <button type="submit" class="button radius button-block small">Login <i class="icon-circleright"></i></button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>

      <section class="mo-contentfull" id="slider-wrapper">   
         <div class="banner">
            <ul>

               <!-- slide 1 -->
               <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                  <img class="slider1-bg" src="img/slideshow/image1-bg.png" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                  
                  <div class="tp-caption fade"
                     data-x="-365"
                     data-y="0"
                     data-start="1500"
                     data-speed="1200"
                     data-easing="Power2.easeInOut"><img src="img/slideshow/image1-pattern.png" alt="">
                  </div>
                                 
                  <div class="tp-caption lfb"
                     data-x="163"
                     data-y="93"
                     data-speed="2000"
                     data-start="1300"
                     data-easing="Power4.easeOut"
                     data-endspeed="2000"
                     data-endeasing="Power1.easeIn"><img src="img/slideshow/image1-phone1.png" alt="">
                  </div>
                  
                  <div class="tp-caption customin"
                     data-x="256"
                     data-y="192"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="800"
                     data-start="2400"
                     data-easing="Power3.easeIn"
                     data-endspeed="450"><img src="img/slideshow/image1-phone2.png" alt="">
                  </div>

                  <div class="tp-caption sft" 
                     data-x="340" 
                     data-y="460"  
                     data-speed="4000" 
                     data-endspeed="1000" 
                     data-start="2500" 
                     data-end="2000" 
                     data-easing="easeOutElastic" 
                     data-endeasing="easeInExpo">
                     <img src="img/slideshow/image1-circle1.png" alt="">
                  </div>

                  <div class="tp-caption sft" 
                     data-x="400" 
                     data-y="410"  
                     data-speed="4000" 
                     data-endspeed="1000" 
                     data-start="2700" 
                     data-end="2000" 
                     data-easing="easeOutElastic" 
                     data-endeasing="easeInExpo">
                     <img src="img/slideshow/image1-circle2.png" alt="">
                  </div>

                  <div class="tp-caption sft" 
                     data-x="420" 
                     data-y="350"  
                     data-speed="4000" 
                     data-endspeed="1000" 
                     data-start="2900" 
                     data-end="2000" 
                     data-easing="easeOutElastic" 
                     data-endeasing="easeInExpo">
                     <img src="img/slideshow/image1-circle3.png" alt="">
                  </div>

                  <div class="tp-caption sft" 
                     data-x="475" 
                     data-y="310"  
                     data-speed="4000" 
                     data-endspeed="1000" 
                     data-start="3100" 
                     data-end="2000" 
                     data-easing="easeOutElastic" 
                     data-endeasing="easeInExpo">
                     <img src="img/slideshow/image1-circle4.png" alt="">
                  </div>

                  <div class="tp-caption sft" 
                     data-x="425" 
                     data-y="270"  
                     data-speed="4000" 
                     data-endspeed="1000" 
                     data-start="3300" 
                     data-end="2000" 
                     data-easing="easeOutElastic" 
                     data-endeasing="easeInExpo">
                     <img src="img/slideshow/image1-circle5.png" alt="">
                  </div>

                  <div class="tp-caption sft" 
                     data-x="480" 
                     data-y="225"  
                     data-speed="4000" 
                     data-endspeed="1000" 
                     data-start="3500" 
                     data-end="2000" 
                     data-easing="easeOutElastic" 
                     data-endeasing="easeInExpo">
                     <img src="img/slideshow/image1-circle6.png" alt="">
                  </div>

                  <div class="tp-caption sft" 
                     data-x="430" 
                     data-y="145"  
                     data-speed="4000" 
                     data-endspeed="1000" 
                     data-start="3700" 
                     data-end="2000" 
                     data-easing="easeOutElastic" 
                     data-endeasing="easeInExpo">
                     <img src="img/slideshow/image1-circle7.png" alt="">
                  </div>

                  <div class="tp-caption sft" 
                     data-x="465" 
                     data-y="93"  
                     data-speed="4000" 
                     data-endspeed="1000" 
                     data-start="3900" 
                     data-end="2000" 
                     data-easing="easeOutElastic" 
                     data-endeasing="easeInExpo">
                     <img src="img/slideshow/image1-circle8.png" alt="">
                  </div>

                  <div class="tp-caption sft" 
                     data-x="400" 
                     data-y="50"  
                     data-speed="4000" 
                     data-endspeed="1000" 
                     data-start="4100" 
                     data-end="2000" 
                     data-easing="easeOutElastic" 
                     data-endeasing="easeInExpo">
                     <img src="img/slideshow/image1-circle9.png" alt="">
                  </div>

                  <div class="tp-caption sft" 
                     data-x="310" 
                     data-y="-25"  
                     data-speed="4000" 
                     data-endspeed="1000" 
                     data-start="4300" 
                     data-end="2000" 
                     data-easing="easeOutElastic" 
                     data-endeasing="easeInExpo">
                     <img src="img/slideshow/image1-circle10.png" alt="">
                  </div>

                  <div class="tp-caption sft" 
                     data-x="242" 
                     data-y="16"  
                     data-speed="4000" 
                     data-endspeed="1000" 
                     data-start="4500" 
                     data-end="2000" 
                     data-easing="easeOutElastic" 
                     data-endeasing="easeInExpo">
                     <img src="img/slideshow/image1-circle11.png" alt="">
                  </div>

                  <div class="tp-caption sft" 
                     data-x="142" 
                     data-y="5"  
                     data-speed="4000" 
                     data-endspeed="1000" 
                     data-start="4700" 
                     data-end="2000" 
                     data-easing="easeOutElastic" 
                     data-endeasing="easeInExpo">
                     <img src="img/slideshow/image1-circle12.png" alt="">
                  </div>

                  <div class="tp-caption sft" 
                     data-x="104" 
                     data-y="91"  
                     data-speed="4000" 
                     data-endspeed="1000" 
                     data-start="4900" 
                     data-end="2000" 
                     data-easing="easeOutElastic" 
                     data-endeasing="easeInExpo">
                     <img src="img/slideshow/image1-circle13.png" alt="">
                  </div>

                  <div class="tp-caption sft" 
                     data-x="30" 
                     data-y="148"  
                     data-speed="4000" 
                     data-endspeed="1000" 
                     data-start="5100" 
                     data-end="2000" 
                     data-easing="easeOutElastic" 
                     data-endeasing="easeInExpo">
                     <img src="img/slideshow/image1-circle14.png" alt="">
                  </div>

                  <div class="tp-caption sft" 
                     data-x="125" 
                     data-y="180"  
                     data-speed="4000" 
                     data-endspeed="1000" 
                     data-start="5300" 
                     data-end="2000" 
                     data-easing="easeOutElastic" 
                     data-endeasing="easeInExpo">
                     <img src="img/slideshow/image1-circle15.png" alt="">
                  </div>

                  <div class="tp-caption sft" 
                     data-x="108" 
                     data-y="252"  
                     data-speed="4000" 
                     data-endspeed="1000" 
                     data-start="5500" 
                     data-end="2000" 
                     data-easing="easeOutElastic" 
                     data-endeasing="easeInExpo">
                     <img src="img/slideshow/image1-circle16.png" alt="">
                  </div>

                  <div class="tp-caption sft" 
                     data-x="26" 
                     data-y="253"  
                     data-speed="4000" 
                     data-endspeed="1000" 
                     data-start="5700" 
                     data-end="2000" 
                     data-easing="easeOutElastic" 
                     data-endeasing="easeInExpo">
                     <img src="img/slideshow/image1-circle17.png" alt="">
                  </div>

                  <div class="tp-caption sft" 
                     data-x="67" 
                     data-y="318"  
                     data-speed="4000" 
                     data-endspeed="1000" 
                     data-start="5900" 
                     data-end="2000" 
                     data-easing="easeOutElastic" 
                     data-endeasing="easeInExpo">
                     <img src="img/slideshow/image1-circle18.png" alt="">
                  </div>

                  <div class="tp-caption sft" 
                     data-x="105" 
                     data-y="420"  
                     data-speed="4000" 
                     data-endspeed="1000" 
                     data-start="6100" 
                     data-end="2000" 
                     data-easing="easeOutElastic" 
                     data-endeasing="easeInExpo">
                     <img src="img/slideshow/image1-circle19.png" alt="">
                  </div>
                  
                  <!-- heading caption slider 1 -->
                  <div class="tp-caption medium_light_white lfb ltb slider1-caption1" 
                     data-x="580" 
                     data-y="181"
                     data-speed="900" 
                     data-endspeed="900" 
                     data-start="3200" 
                     data-end="8500" 
                     data-easing="easeOutExpo" 
                     data-endeasing="easeInExpo">
                     <h2 class="uppercase">
                        <span class="maleo-color">Experience</span> is what<br>
                        brings us to the top
                     </h2>
                  </div>
                  
                  <div class="caption general_caption lfb ltb tp-rr4 slider1-caption2"  
                     data-x="584"
                     data-y="300"
                     data-speed="900"
                     data-endspeed="900"
                     data-start="3300"
                     data-end="8500"
                     data-easing="easeOutExpo"
                     data-endeasing="easeInExpo">
                     <p>
                        Mix with science and art, and born the super awesome HTML 5 multipurpose <br>
                        template. Suit for any business, make your site look cool.
                     </p>
                  </div>
               </li>

               <!-- slide 2 -->
               <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                  <img class="slider2-bg" src="img/slideshow/image2-bg.png" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                  
                  <div class="tp-caption fade"
                     data-x="-365"
                     data-y="0"
                     data-start="1200"
                     data-speed="1000"
                     data-easing="Power2.easeInOut">
                     <img src="img/slideshow/image2-overlay.png" alt="">
                  </div>

                  <div class="tp-caption fade"
                     data-x="-365"
                     data-y="0"
                     data-start="1500"
                     data-speed="1000"
                     data-easing="Power2.easeInOut">
                     <img src="img/slideshow/image2-pattern.png" alt="">
                  </div>

                   <!-- heading caption slider 2 -->
                   <div class="tp-caption finewide_large_white customin customout tp-resizeme slider2-caption1"
                      data-x="160" data-hoffset="0"
                      data-y="180" data-voffset="-40"
                      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                      data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                      data-speed="500"
                      data-start="500"
                      data-easing="Power3.easeInOut"
                      data-splitin="chars"
                      data-splitout="chars"
                      data-elementdelay="0.08"
                      data-endelementdelay="0.08"
                      data-end="6000"
                      data-endspeed="500">
                      <h1 class="uppercase mega">Impress Your Visitor</h1>
                  </div>

                  <div class="tp-caption lfb ltb slider2-caption2" 
                     data-x="300" 
                     data-y="270"
                     data-speed="1200" 
                     data-endspeed="900" 
                     data-start="1700" 
                     data-end="5000" 
                     data-easing="easeOutExpo" 
                     data-endeasing="easeInExpo">
                     <h5 class="maleo-color">You never get a second chance to make a first impression</h5>
                  </div>
               </li>

               <!-- slide 3 -->
               <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                  <img class="slider3-bg" src="img/slideshow/image3-bg.png" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                  
                  <div class="tp-caption fade"
                     data-x="-365"
                     data-y="0"
                     data-start="1200"
                     data-speed="1000"
                     data-easing="Power2.easeInOut">
                     <img src="img/slideshow/image3-patern.png" alt="">
                  </div>

                  <div class="tp-caption lft"
                     data-x="524"
                     data-y="0"
                     data-speed="2000"
                     data-start="1300"
                     data-end="8500" 
                     data-easing="Power4.easeOut"
                     data-endspeed="2000"
                     data-endeasing="Power1.easeIn">
                     <img src="img/slideshow/image3-calculator.png" alt="">
                  </div>

                  <div class="tp-caption lfb"
                     data-x="619"
                     data-y="255"
                     data-speed="2000"
                     data-start="1800"
                     data-end="8500" 
                     data-easing="Power4.easeOut"
                     data-endspeed="2000"
                     data-endeasing="Power1.easeIn">
                     <img src="img/slideshow/image3-note.png" alt="">
                  </div>

                  <div class="tp-caption lft"
                     data-x="793"
                     data-y="0"
                     data-speed="2000"
                     data-start="2300"
                     data-end="8500" 
                     data-easing="Power4.easeOut"
                     data-endspeed="2000"
                     data-endeasing="Power1.easeIn">
                     <img src="img/slideshow/image3-book.png" alt="">
                  </div>

                  <div class="tp-caption lfb"
                     data-x="843"
                     data-y="382"
                     data-speed="2000"
                     data-start="2800"
                     data-end="8500" 
                     data-easing="Power4.easeOut"
                     data-endspeed="2000"
                     data-endeasing="Power1.easeIn">
                     <img src="img/slideshow/image3-cup.png" alt="">
                  </div>

                  <div class="tp-caption customin"
                     data-x="695"
                     data-y="34"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1000"
                     data-start="3000"
                     data-end="8500" 
                     data-easing="Power3.easeIn"
                     data-endspeed="450">
                     <img src="img/slideshow/image3-eraser.png" alt="">
                  </div>

                  <div class="tp-caption customin"
                     data-x="546"
                     data-y="123"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1000"
                     data-start="3500"
                     data-end="8500" 
                     data-easing="Power3.easeIn"
                     data-endspeed="450">
                     <img src="img/slideshow/image3-ruler.png" alt="">
                  </div>

                  <div class="tp-caption customin"
                     data-x="1037"
                     data-y="387"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1000"
                     data-start="4000"
                     data-end="8500" 
                     data-easing="Power3.easeIn"
                     data-endspeed="450">
                     <img src="img/slideshow/image3-post-card.png" alt="">
                  </div>

                  <div class="tp-caption customin"
                     data-x="525"
                     data-y="256"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1000"
                     data-start="4500"
                     data-end="8500" 
                     data-easing="Power3.easeIn"
                     data-endspeed="450">
                     <img src="img/slideshow/image3-pencil.png" alt="">
                  </div>

                  <!-- heading caption slider 3 -->
                  <div class="tp-caption lft lft slider3-caption1" 
                     data-x="30" 
                     data-y="166"
                     data-speed="900" 
                     data-endspeed="900" 
                     data-start="2500" 
                     data-end="8500" 
                     data-easing="easeOutExpo" 
                     data-endeasing="easeInExpo">
                     <h2 class="uppercase">Truly business</h2>
                  </div>

                  <div class="tp-caption lfb lfb slider3-caption2" 
                     data-x="30" 
                     data-y="210"
                     data-speed="900" 
                     data-endspeed="900" 
                     data-start="2500" 
                     data-end="8500" 
                     data-easing="easeOutExpo" 
                     data-endeasing="easeInExpo">
                     <h1 class="uppercase maleo-color mega">Solution</h1>
                  </div>

                  <div class="tp-caption lfb lfb slider3-button" 
                     data-x="158" 
                     data-y="316"
                     data-speed="900" 
                     data-endspeed="900" 
                     data-start="2500" 
                     data-end="8500" 
                     data-easing="easeOutExpo" 
                     data-endeasing="easeInExpo">
                     <a href="#" class="slider-button button">Find out More</a>
                  </div>
               </li>
            </ul>

            <div class="tp-bannertimer"></div>
         </div>
      </section>

      <section class="mo-content promo-section">
         <div class="row">
            <div class="large-8 medium-8 medium-potrait-7 small-12 columns mo-animate" data-animate="fadeInLeft">
               <h3>Maleo is a professional business template.</h3>
               <p>A super clean template ready for some serious business.</p>               
            </div>

            <div class="large-4 medium-4 medium-potrait-5 small-12 small-center columns text-right mo-animate" data-animate="fadeInRight">
               <a href="#" class="button large radius">Purchase Now</a>                
            </div>
         </div>
      </section>

      <section class="mo-content" id="process">
         <div class="row">
            <div class="large-6 medium-6 medium-potrait-12 small-12 columns mo-animate" data-animate="bounceIn" data-delay="200">
               <div class="feature-right process">
                  <div class="no-shape">
                     <img src="img/sample/process-1.jpg" class="img-border dark img-circle img-shadow" alt="">
                     <span class="process-number2">1</span>  
                  </div>    
                  <h5>Research</h5> 
                  <p>
                     At vero eos accusamus iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum delenitie.
                  </p>
                  <a class="button link" href="#">Detail info <i class="icon-chevron-right"></i></a>
               </div>
            </div>

            <div class="large-6 medium-6 medium-potrait-12 small-12 columns mo-animate" data-animate="bounceIn" data-delay="400">
               <div class="feature-right process">
                  <div class="no-shape">
                     <img src="img/sample/process-2.jpg" class="img-border dark img-circle img-shadow" alt="">
                     <span class="process-number2">2</span>  
                  </div>  
                  <h5>Execution</h5> 
                  <p>
                     At vero eos accusamus iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum delenitie.
                  </p>
                  <a class="button link" href="#">Detail info <i class="icon-chevron-right"></i></a>
               </div>
            </div>

            <div class="large-6 medium-6 medium-potrait-12 small-12 columns mo-animate" data-animate="bounceIn" data-delay="800">
               <div class="feature-right process">
                  <div class="no-shape">
                     <img src="img/sample/process-3.jpg" class="img-border dark img-circle img-shadow" alt="">
                     <span class="process-number2">3</span>  
                  </div>    
                  <h5>Publication</h5> 
                  <p>
                     At vero eos accusamus iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum delenitie.
                  </p>
                  <a class="button link" href="#">Detail info <i class="icon-chevron-right"></i></a>
               </div>
            </div>

            <div class="large-6 medium-6 medium-potrait-12 small-12 columns mo-animate" data-animate="bounceIn" data-delay="600">
               <div class="feature-right process">
                  <div class="no-shape">
                     <img src="img/sample/process-4.jpg" class="img-border dark img-circle img-shadow" alt="">
                     <span class="process-number2">4</span>  
                  </div>    
                  <h5>Development</h5> 
                  <p>
                     At vero eos accusamus iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum delenitie.
                  </p>
                  <a class="button link" href="#">Detail info <i class="icon-chevron-right"></i></a>
               </div>
            </div>
         </div>
      </section>      

      <section class="mo-content separator">
         <div class="row">
            <hr>
         </div>
      </section> 

      <section class="mo-content">
         <div class="row">
            <div class="large-5 medium-5 medium-potrait-12 small-12 columns text-center mo-animate" data-animate="fadeInLeft">
               <img src="img/sample/maleo-reason2.png" alt="" class="gap">
            </div>

            <div class="large-7 medium-7 medium-potrait-12 small-12 columns gap mo-animate" data-animate="fadeInRight" data-top="25">
               <span class="heading-line"></span>
               <h3 class="gap" data-bottom="40">We care about Your business</h3>
               <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae occaecati cupiditate non providen similique sunt culpa officia.</p>

               <a href="#" class="button button-border radius gap" data-top="18">Sign up - get 2 months free!</a>
            </div>
         </div>
      </section>

      <section class="mo-content parallax" id="parallax-index3">
         <div class="row">
            <div class="large-12 columns text-center mo-animate" data-animate="fadeInDown">
               <h3>In case you need help</h3>
               <p>Here are several ways to contact us</p>
            </div>

            <div class="large-4 medium-4 medium-potrait-12 columns mo-animate" data-animate="fadeInDown">
               <div class="feature-offset panel">
                  <div class="circle-shape style3">                           
                     <i class="icon-thinking"></i>
                  </div>                    
                  <h4>Presales Question</h4> 
                  <p>Namsint libero tempore cumal soluta nobis esteller eligendi optio cumquai nihil impedit</p>
               </div>
            </div>

            <div class="large-4 medium-4 medium-potrait-12 columns mo-animate" data-animate="fadeInDown">
               <div class="feature-offset panel">
                  <div class="circle-shape style3">                           
                     <i class="icon-supportalt"></i>
                  </div>                    
                  <h4>Need Support</h4> 
                  <p>Namsint libero tempore cumal soluta nobis esteller eligendi optio cumquai nihil impedit</p>
               </div>
            </div>

            <div class="large-4 medium-4 medium-potrait-12 columns mo-animate" data-animate="fadeInDown">
               <div class="feature-offset panel">
                  <div class="circle-shape style3">                           
                     <i class="icon-forumsalt"></i>
                  </div>                    
                  <h4>Check Forum</h4> 
                  <p>Namsint libero tempore cumal soluta nobis esteller eligendi optio cumquai nihil impedit</p>
               </div>
            </div>  
         </div>       
      </section>     

      <section class="mo-content" id="twitter-wrapper">
         <div class="row mo-animate" data-animate="fadeInDown">
            <div class="large-2 medium-2 medium-potrait-3 small-12 small-center twitter-mobile columns">
               <a class="social-twitter" href="#"></a>
            </div>
            <div class="large-10 medium-10 medium-potrait-9 small-12 columns">
               <span class="heading-line"></span>
               <h4>Latest News via Twitter</h4>

               <div id="twitter-feed">
                  <div class="twitter-text">
                     <p>
                        Recently launched MODX on ThemeForest. Now offering $10,000 reward for MODX themes. You've got to be in it to win it! 
                     </p>
                     <a href="http://enva.to/1qmhFhE">http://enva.to/1qmhFhE </a>
                  </div>
               </div>
            </div>
         </div>
      </section>     
      
      <footer>
         <div class="mo-contentfull content-bg" id="footer-bg">
            <div class="rowfull">
               <div class="left-bg"></div>
               <div class="right-bg"></div>
            </div>
         </div>
         
         <section class="mo-content social-bg-content">   
            <div class="row">
               <div class="large-3 medium-3 columns get-connect medium-potrait-hide small-hide">
                  <h6>Get Connected</h6>
               </div>

               <div class="large-9 medium-9 columns medium-potrait-12 social-content">
                  <ul class="social-icon cube">
                     <li>
                        <div class="front"><a class="social-facebook" href="#"></a></div>
                        <div class="back"><a class="social-facebook" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-twitter" href="#"></a></div>
                        <div class="back"><a class="social-twitter" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-google" href="#"></a></div>
                        <div class="back"><a class="social-google" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-linkedin" href="#"></a></div>
                        <div class="back"><a class="social-linkedin" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-pinterest" href="#"></a></div>
                        <div class="back"><a class="social-pinterest" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-dribbble" href="#"></a></div>
                        <div class="back"><a class="social-dribbble" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-vimeo" href="#"></a></div>
                        <div class="back"><a class="social-vimeo" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-behance" href="#"></a></div>
                        <div class="back"><a class="social-behance" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-lastfm" href="#"></a></div>
                        <div class="back"><a class="social-lastfm" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-instagram" href="#"></a></div>
                        <div class="back"><a class="social-instagram" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-evernote" href="#"></a></div>
                        <div class="back"><a class="social-evernote" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-skype" href="#"></a></div>
                        <div class="back"><a class="social-skype" href="#"></a></div>
                     </li>
                     <li>
                        <div class="front"><a class="social-envato" href="#"></a></div>
                        <div class="back"><a class="social-envato" href="#"></a></div>
                     </li>
                  </ul>
               </div>
            </div>
         </section>

         <section class="mo-content footer-content">
            <div class="row">
               <div class="large-3 medium-3 medium-potrait-12 columns">
                  <div class="footer-logo">
                     <a href="index.html">
                        <img src="img/logo-footer.png" alt="Maleo Logo" class="retina">
                     </a>
                     <span class="logo-text">&copy; 2014 Maleo, Inc. All rights reserved.</span>
                  </div>               
               </div>

               <div class="large-3 medium-3 medium-potrait-4 columns">
                  <h6 class="heading-footer">Contact Us</h6>
                  <ul>
                     <li>For press : </li>
                     <li><a class="maleo-color" href="#">press@maleo.com</a></li>
                     <li>General contact :</li>
                     <li><a class="maleo-color" href="#">hello@maleo.com</a></li>
                  </ul>
               </div>

               <div class="large-3 medium-3 medium-potrait-4 columns">
                  <h6 class="heading-footer">Quick Links</h6>
                  <ul>
                     <li><a href="#">About</a></li>
                     <li><a href="#">Downloads</a></li>
                     <li><a href="#">FAQ</a></li>
                     <li><a href="#">Press</a></li>
                     <li><a href="#">Privacy Policy</a></li>
                     <li><a href="#">Terms of Service</a></li>
                     <li><a href="#">Release Updates</a></li>
                  </ul>
               </div>

               <div class="large-3 medium-3 medium-potrait-4 columns">
                  <h6 class="heading-footer">Address</h6>
                  <ul>
                     <li>2158 Madison Avenue </li>
                     <li>Montgomery, AL(Alabama) 36107</li>
                  </ul>

                  <address>  
                     Phone : 444 323 3456 <br>  
                     Fax : 444 323 3455 <br>
                  </address>
               </div>

               <div class="scroll-top">
                  <a id="top" class="scroll"><i class="icon-chevron-up"></i></a>
               </div>
            </div>
         </section>
      </footer>

   </div>      
   
   <!-- javascript here -->
   <script src="js/jquery.min.js"></script>
   <script src="js/jquery.queryloader2.min.js"></script>
   <script src="js/jquery.smartmenus/jquery.smartmenus.min.js"></script>
   <script src="js/owl.carousel.min.js"></script>
   <script src="js/jquery.fancybox.js"></script>
   <script src="js/jquery.fancybox-media.js"></script>
   <script src="js/jquery.waypoints.min.js"></script>
   <script src="js/jquery.sticky.js"></script>
   <script src="js/jquery.retina.js"></script>
   
   <!-- javascript plugin -->
   <script src="js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
   <script src="js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
   <script src="js/twitter/jquery.tweet.js"></script>
   <script src="js/jquery.parallax.js"></script>
   <script src="js/icheck.js"></script>

   <!-- javascript core --> 
   <script src="js/maleo.js"></script>
   <script src="js/jquery.cookie.js"></script>
   <script src="js/theme-switcher.js"></script>

   <script type="text/javascript">
      jQuery(document).ready(function($){         
         $('.banner').revolution({
            delay:8000,
            startwidth:1190,
            startheight:510,
            hideThumbs:1,
            navigationType:"none",                  // bullet, thumb, none
            navigationArrows:"solo",                // nexttobullets, solo (old name verticalcentered), none
            navigationStyle:"navbar",               // round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom
            navigationHAlign:"center",              // Vertical Align top,center,bottom
            navigationVAlign:"bottom",              // Horizontal Align left,center,right
            navigationHOffset:0,
            navigationVOffset:0,
            soloArrowLeftHalign:"left",
            soloArrowLeftValign:"center",
            soloArrowLeftHOffset:55,
            // soloArrowLeftVOffset:-10,
            soloArrowRightHalign:"right",
            soloArrowRightValign:"center",
            soloArrowRightHOffset:55,
            // soloArrowRightVOffset:-10,
            touchenabled:"on",                      // Enable Swipe Function : on/off
            onHoverStop:"off",                      // Stop Banner Timet at Hover on Slide on/off
            stopAtSlide:-1,                         // Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
            stopAfterLoops:-1,                      // Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic
            hideCaptionAtLimit:0,                   // It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
            hideAllCaptionAtLilmit:0,               // Hide all The Captions if Width of Browser is less then this value
            hideSliderAtLimit:0,                    // Hide the whole slider, and stop also functions if Width of Browser is less than this value
            shadow:0,                               //0 = no Shadow, 1,2,3 = 3 Different Art of Shadows  (No Shadow in Fullwidth Version !)
            fullWidth:"on"                          // Turns On or Off the Fullwidth Image Centering in FullWidth Modus
         });
      });
   </script>
</body>
</html>